.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: #9933FF;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

/* Стили для малого индикатора загрузки */
.loader-container.loader-small {
    height: unset;
    background-color: transparent;
}

.loader.loader-small {
    width: 24px;
    height: 24px;
    border-width: 3px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}